<!DOCTYPE html>
<html>
  <head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app" v-cloak>
      <p>{{ fullName() }}</p>
      <hr/>
      <p><a v-bind:href="url" target="_blank">Google🔍</a></p>
      <p v-html="raw_url"></p>

      <label for="firstName">First name</label>
      <input type="text" v-model="firstName">

      <label for="lastName">Last name</label>
      <input type="text" v-model="lastName">
    </div>

    <!-- <div id="vapp">
      <h1>{{ firstName }} {{ lastName }}</h1>
    </div> -->
    <script src="app.js"></script>
  </body>
</html>
